go 1.26.6

use (
	.
	./auth
	./examples/auth
	./examples/auth_oauth
	./examples/fantasyfootball
	./examples/linearlite
	./examples/sdk
	./examples/todo
	./files
	./migrate
	./notify
	./observe
	./rigclient
	./runtime
)
